@using Annium.Localization.Abstractions
@using Exta.Site.Public.Layouts.MinimalCentric

@namespace Exta.Site.Public.Pages.TempCheck

@page "/temp-check"
@layout MinimalCentricLayout

@inject IStore Store
@inject Style Style
@inject NavigationManager Router
@inject ILocalizer<Page> T

<PageTitle Class="@Style.Title" Level="2">
    Exta @T["temp check"]
</PageTitle>

<div class="@Style.Form">
    <FormField TValue="string" State="@Store.Form.At(x => x.DocumentNumber)" Class="@Style.FormItem">
        <TextField
            TValue="string"
            Size="@InputSize.Large"
            Placeholder="@T["DocumentNumber"]" />
    </FormField>
    <FormField TValue="string" State="@Store.Form.At(x => x.CardNumber)" Class="@Style.FormItem">
        <TextField
            TValue="string"
            Size="@InputSize.Large"
            Placeholder="@T["CardNumber"]" />
    </FormField>
    <FormField TValue="string" State="@Store.Form.At(x => x.Sum)" Class="@Style.FormItem">
        <TextField
            TValue="string"
            Size="@InputSize.Large"
            Placeholder="@T["Sum"]" />
    </FormField>
    <FormField TValue="string" State="@Store.Form.At(x => x.Payer)" Class="@Style.FormItem">
        <TextField
            TValue="string"
            Size="@InputSize.Large"
            Placeholder="@T["Payer"]" />
    </FormField>
    <Button
        type="primary"
        block
        disabled="@(!Store.CanPrint)"
        size="large"
        OnClick="@Store.Print">
        @T["Print"]
    </Button>
</div>